@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

  html {
    scroll-behavior: smooth;
}

/* body {
  height: 100%;
} */

* #wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
} *


/*ヘッダ-*/
#home {
  background-color: #005f7c;
  width: 100%;
  height: auto;
  vertical-align: bottom;
    padding-top: 80px; /* ヘッダーの高さ分のパディング */
    color: rgb(255, 255, 255);
    display: flex;
    /* justify-content: center; */
    padding-left: 3.5rem;
    align-items: center;
    font-size: 2.5rem;
    position: relative; 
    overflow: hidden;
}

header {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
}
/* header h1 {
  padding: 1rem;
  position: absolute;
  top: 8rem;
  left: 2rem;
} */
nav {
  position: absolute;
  top: 2rem;
  right: 1rem;
  
}
nav ul {
  padding-bottom: 1rem;
  text-align: center;
  padding-right: 1rem
}
nav ul li {
  display: inline-block;
  margin: 0 10px;
}
nav ul li a {
  font-weight: bold;
  color: #ffffff;
}





/* メイン */
.section {
  padding: 80px ;
  min-height: 100vh;
   color: rgb(255, 255, 255);
    display: flex;
    /* justify-content: center; */
    padding-left: 3.5rem;
    position: relative; 
    overflow: hidden;
}
#about {
  background-color: #92c2d4;
  width: 100%;
  height: auto;
  vertical-align: bottom;
}
#works {
  background-color: #6baabf;
  width: 100%;
  height: auto;
  vertical-align: bottom;
}
#contact{
  background-color: #007396;
  width: 100%;
  height: auto;
  vertical-align: bottom;
}


footer {
  background: #005f7c;
    color: #FFF;
  text-align: center;
  padding: 1rem;
  width: 100%;
}

